<h2>AVAILABLE DRONES</h2>


<ul class="list-group">
    {{#each allDrones}} <!-- doing a loop in HB. I put allDrones cause I wanna loop on them-->
        <li class="list-group-item">
            Drone name: {{this.name}}
            <br>
            Propellers: {{this.propellers}}
            <br>
            Max.Speed: {{this.maxSpeed}}

            <div class="buttons">
                <form action="/drones/{{this.id}}/edit" method="GET">
                 <button class="btn btn-outline-info" type="submit">Edit</button>
                </form> 
            </div>

            <div class="buttons">
                <form action="/drones/{{this.id}}/delete" method="POST">
                 <button class="btn btn-outline-danger">Delete</button>
                </form>

            </div>
                
           
           

        </li>
    {{/each}}  

    
</ul>


  




